<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web Shop</title>
</head>
<body>
<b>Logged in as Admin</b></br>
<p th:text="${login}"></p>
<a href="/admin-add">Add Products</a></br>
<a href="/admin-view">View Products</a></br>
<a href="/admin-pending">Confirm Orders</a></br>
<a href="/admin-process">Process Orders</a></br>
<a href="/admin-dispatch">View Completed Orders</a></br>
<a href="/admin-cancel">View Canceled Orders</a></br>
<a href="/logout-admin">Logout</a></br></br>
<b>Remove Product</b></br>
<form action="/remove" method="post">
    Product ID: <input type="text" name="id"></br>
    <input type="hidden" name="text" th:value="${text}">
    <input type="submit" value="Remove"></form></br>
<b>Search products:</b></br>
<form action="/admin-search" method="post">
    <input type="text" name="text" th:value="${text}">
    <input type="submit" value="Search">
</form>
<p th:text="${remove}"></p></br>
<b>Products:</b></br>
<div th:each="item : ${products}">
    <span th:text="${item.getName()}"></span>
    <span th:text="${item.getCategory()}"></span>
    <span th:text="${item.getPrice()}"></span>
    ID: <span th:text="${item.getId()}"></span>
    <form action="/remove" method="post">
        <input type="hidden" name="id" th:value="${item.getId()}">
        <input type="hidden" name="text" th:value="${text}">
        <input type="submit" value="Remove">
    </form>
</div>
</body>
</html>