<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<b>Logged in as Admin</b></br>
<p th:text="${login}"></p>
<a href="/admin-process">Back</a></br>
<a href="/logout-admin">Logout</a></br></br>
<b>Process order:</b>
<div th:each="item : ${items}">
    <span th:text="${item.getCount()}"></span>
    <span th:text="${item.getProduct().getName()}"></span>
    <span th:text="${item.getProduct().getCategory()}"></span>
    <span th:text="${item.getProduct().getPrice()}"></span>
    </form>
</div>
<p th:text="${total}"></p>
<form action="/admin-process-confirm" method="post">
    <input type="hidden" name="id" th:value="${id}">
    <input type="submit" value="Process">
</form>
<form action="/admin-process-cancel" method="post">
    <input type="hidden" name="id" th:value="${id}">
    <input type="submit" value="Cancel">
</form>
</body>
</html>