<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web Shop</title>
</head>
<body>
<b>Register new admin account</b>
<form action="/register-admin-submit" method="post">
    Name: <input type="text" name="name"></br>
    Email: <input type="text" name="email"></br>
    Password: <input type="text" name="password"></br>
    <input type="submit" value="Register">
</form>
<p th:text="${regcheck}"></p>
<a href="/login">Login</a></br>
<a href="/">Back</a></br>
</body>
</html>