<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Web Shop</title>
</head>
<body>
<b>Admin</b></br>
<a href="/admin-add">Add Products</a></br>
<a href="/logout">Logout</a></br></br>
<b>Remove Product</b></br>
<form action="/remove" method="post">
  Product ID: <input type="text" name="id"></br>
  <input type="submit" value="Remove"></form>
<p th:text="${removeResult}"></p></br>
<b>List of Products:</b></br>
<div th:each="item : ${products}">
  <span th:text="${item.getName()}"></span>>
  <span th:text="${item.getCategory()}"></span>
  <span th:text="${item.getPrice()}"></span>
  <span th:text="${item.getId()}"></span>
</div>
</body>
</html>