<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web Shop</title>
</head>
<body>
<b>Logged in</b></br>
<p th:text="${login}"></p>
<a href="/cart-view">View Cart</a></br>
<a href="/shop">View Shop</a></br>
<a href="/category">View Categories</a></br>
<a href="/orders">View Orders</a></br>
<a href="/logout">Logout</a></br></br>
<form action="/search" method="post">
    <input type="text" name="text">
    <input type="submit" value="Search">
</form>
<b>Products:</b></br>
<div th:each="item : ${products}">
    <span th:text="${item.getName()}"></span>
    <span th:text="${item.getCategory()}"></span>
    <span th:text="${item.getPrice()}"></span>
    <span>SEK</span>
    <form action="/add-to-cart" method="post">
        Amount: <input type="number" name="count" value="1">
        <input type="hidden" name="id" th:value="${item.getId()}">
        <input type="submit" value="Buy">
    </form>
</div>
<p th:text="${message}"></p>
</body>
</html>