<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<b>Logged in</b></br>
<p th:text="${login}"></p>
<a href="/cart">Back</a></br>
<a href="/logout">Logout</a></br></br>
<b>Confirm order:</b></br>
<div th:each="item : ${items}">
    <span th:text="${item.getCount()}"></span>
    <span th:text="${item.getProduct().getName()}"></span>
    <span th:text="${item.getProduct().getCategory()}"></span>
    <span th:text="${item.getProduct().getPrice()}"></span>
    </form>
</div>
<p th:text="${total}"></p>
<form action="/place-order" method="post">
    <input type="submit" value="Confirm">
</form>
</body>
</html>