<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web Shop</title>
</head>
<body>
<b>Logged in</b></br>
<p th:text="${login}"></p>
<a href="/cart">Cart</a></br>
<a href="/category">Categories</a></br>
<a href="/search">Search</a></br>
<a href="/orders">Orders</a></br>
<a href="/logout">Logout</a></br></br>
<b><p th:text="${name}"></p></b>
<div th:each="item : ${items}">
    <span th:text="${item.getName()}"></span>
</div>
<p th:text="${total}"></p>
<div th:if="${confirm} == false and ${process} == false and ${cancel} == false">
    Order has been placed.
</div>
<div th:if="${confirm} == true">
    Order has been confirmed.
</div>
<div th:if="${process} == true">
    Order has been sent.
</div>
<div th:if="${cancel} == true">
    Order has been canceled.
</div></br>
<div th:if="${cancel} == false and ${process} == false">
    <form action="/order-cancel" method="post">
        <input type="hidden" name="id" th:value="${id}">
        <input type="submit" value="Cancel">
    </form>
</div>
</body>
</html>