<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web Shop</title>
</head>
<body>
<b>Logged in</b></br>
<p th:text="${login}"></p>
<a href="/cart-view">View Cart</a></br>
<a href="/shop">View Shop</a></br>
<a href="/category">View Categories</a></br>
<a href="/orders">View Orders</a></br>
<a href="/logout">Logout</a></br></br>
<b><p th:text="${order}"></p></b>
<div th:each="item : ${items}">
    <span th:text="${item.getName()}"></span>
</div>
<p th:text="${total}"></p>
<div th:if="${confirm} == true">
    Order has been confirmed!
</div>
<div th:if="${process} == true">
    Order has been sent!
</div>
<div th:if="${cancel} == true">
    Order has been canceled!
</div>
</body>
</html>