<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web Shop</title>
</head>
<body>
<b>Logged in</b></br>
<p th:text="${login}"></p>
<a href="/cart">Cart</a></br>
<a href="/category">Categories</a></br>
<a href="/search">Search</a></br>
<a href="/orders">Orders</a></br>
<a href="/logout">Logout</a></br></br>
<div th:object="${product}">
  <b><span th:text="${product.getName()}"></span></b><br/>
  <span th:text="${product.getCategory()}"></span></br></br>
  <span th:text="${product.getDescription()}"></span></br></br>
  <span th:text="${product.getPrice()}"></span>
  <span>SEK</span><br/>
  <form action="/product" method="post">
    Amount: <input type="number" name="count" value="1">
    <input type="hidden" name="id" th:value="${product.getId()}"></br>
    <input type="submit" value="Buy">
  </form>
</div>
</body>
</html>